<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>ingresar Libros</h1>

	<form method="post" th:action="@{/agregarl}" th:object="${libro}">
 <span th:errors="*{titulo}" style="color: #FF0000"></span>
		<label>Titulo: </label><input type="text" th:field="*{titulo}" placeholder="Titulo">
		<span th:errors="*{autor}" style="color: #FF0000"></span>
		<label>Autor: </label><input type="text"th:field="*{autor}" placeholder="Autor">
		<span th:errors="*{isbn}" style="color: #FF0000"></span>
		<label>ISBN: </label><input type="text"th:field="*{isbn}" placeholder="ISBN">
	<label>Seleccione:</label> 
		<select th:field="*{categoria.codigoCategoria}">
			<option th:each="cod : ${categorias}"
					th:value="${cod.codigoCategoria}"
					th:text="${cod.categoria}"></option>
		</select> 
	
<label>Activo: </label><input type="radio"  th:field="*{estado}" th:value = "${true}">
		<label>Inactivo: </label><input type="radio"  th:field="*{estado}" th:value = "${false}">
		<br>
		
		<input type="submit" value="Guardar" >
	</form>
</body>
</html>